# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS system files
.DS_Store
Thumbs.db

# Ignore VS Code settings (optional)
.vscode/

# Ignore output files
*.h5
*.npy

# Ignore logs
*.log

# Ignore raw video datasets
data/3DPW
data/processed_windows/X_windows.pkl
data/processed_windows/X_windows.pkl
data/processed_windows/X_windows.pkl
data/processed_windows/X_windows.pkl
